include README.txt INSTALL MANIFEST.in LICENSE 
exclude *.pyc core.* *~ *.pdf
recursive-include epicsscan *.py
recursive-include scripts *
recursive-include tests *.py *.db *.cmd *.req
recursive-include doc *
recursive-include dlls *
recursive-exclude doc/_build *
recursive-exclude doc *.pdf
recursive-exclude tests/Misc *
